/*auto*/
/* A common style for all themes */

.center { text-align: center; }

.blue { color: #3BAFDA !important; }
.red { color: #DA4453 !important; }
.green { color: #8CC152 !important; }
.gray { color: gray !important; }
.silver { color: silver !important; }
.black { color: black !important; }

.m { margin-bottom: 15px; }

.bg-smoke { background-color: #F8F8F8; }

.fs11 { font-size: 11px; }