/* Common styles for all jComponents */
label { vertical-align: middle; }
label input { vertical-align: middle; margin-right: 3px; font-size: 16px; }
label span { vertical-align: middle; }
.ui-disabled { background-color: #F0F0F0; cursor: not-allowed; }
.ui-disabled > div { background-color: #F0F0F0; }

/* jComponent: Error */
.ui-error { margin: 0 0 15px 0; padding: 0; list-style-type: none; border: 2px solid #BE3A48; border-left-width: 0; border-right-width: 0; padding: 10px 0; color: #BE3A48; }
.ui-error div { display: block; }
.ui-error div .fa { width: 14px; }

/* jComponent: Cookie */
.ui-cookie { font-size: 11px; padding: 3px 20px 5px; border-bottom: 1px solid #F0F0F0; text-align: center; }
.ui-cookie button { position: relative; display: inline-block; padding: 1px 5px; border-radius: 4px; font-size: 10px; background-color: black; color: white; border: 0; margin-left: 5px; cursor: pointer; outline: 0; }
.ui-cookie button:hover { background-color: #303030; }

/* jComponent: Checkbox */
.ui-checkbox { margin-bottom: 3px; line-height: 16px; }
.ui-checkbox label { cursor: pointer; }
.ui-checkbox label span { cursor: pointer; }
.ui-checkbox input { vertical-align: middle; cursor: pointer; }

/* jComponent: Textbox */
.ui-textbox { border: 2px solid #E0E0E0; padding: 5px 2px 5px 5px; border-radius: 2px; position: relative; width: 100%; background-color: white; display: table; }
.ui-textbox input { display: table-cell; border: 0; outline: 0; font: normal 14px Arial; color: black; width: 100%; background-color: white; padding: 0; }
.ui-textbox div { width: 1%; position: relative; vertical-align: middle; display: table-cell; text-align: center; white-space: nowrap; text-overflow: clip; border-left: 1px solid #E0E0E0; width: 30px; color: silver; user-select: none; }
.ui-textbox-label { margin-bottom: 5px; font-size: 12px; text-align: left; }
.ui-textbox-label .fa { width: 14px; }
.ui-textbox-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-textbox-invalid { border-color: #E7B8B8 !important; background-color: #FFF3F3 !important; }
.ui-textbox-invalid input { background-color: #FFF3F3 !important; }

/* jComponent: Textarea */
.ui-textarea { border: 2px solid #E0E0E0; padding: 4px 5px; border-radius: 2px; position: relative; display: block; width: 100%; background-color: white; }
.ui-textarea textarea { border: 0; width: 100%; outline: 0; font: normal 14px Arial; color: black; resize: none; min-height: 50px; background-color: white; padding: 0; }
.ui-textarea-label { margin-bottom: 5px; font-size: 12px; text-align: left; }
.ui-textarea-label .fa { width: 14px; }
.ui-textarea-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-textarea-invalid { border-color: #E7B8B8 !important; background-color: #FFF3F3 !important; }
.ui-textarea-invalid textarea { background-color: #FFF3F3 !important; }
.ui-textarea-code textarea { font-family: monospace; font-size: 14px; }

/* jComponent: Dropdown */
.ui-dropdown-values { position: relative; display: block; height: 34px; text-align: left; }
.ui-dropdown { border: 2px solid #E0E0E0; padding: 0 10px; border-radius: 2px; outline: 0; height: 34px; overflow: hidden; float: left; width: 100%; background-color: white; position: relative; }
.ui-dropdown select { width: 120%; outline: 0; border: 0; height: 26px; background-color: white; font-size: 14px; float: left; cursor: pointer; padding: 0; margin: 2px 0 0 -3px; color: black; appearance: none; -moz-appearance: none; -webkit-appearance: none; }
.ui-dropdown .fa { position: absolute; right: 8px; top: 8px; }
.ui-dropdown-label { margin-bottom: 5px; font-size: 12px; }
.ui-dropdown-label .fa { width: 14px; }
.ui-dropdown-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-dropdown-invalid { border-color: #E7B8B8 !important; background-color: #FFF3F3 !important; }
.ui-dropdown-invalid select { background-color: #FFF3F3 !important; }
.ui-dropdown select:disabled { background-color: #F0F0F0; cursor: not-allowed; color: gray; }
