@{title('My account')}

<br />
<div class="row">
	<div class="col-md-6">
		<div class="padding bg-smoke" id="signup">
			<h2>Create your account</h2>
			<div class="row">
				<div class="col-md-12 m">
					<div data-component="textbox" data-component-path="signup.name" data-required="true" data-component-value="''">Name</div>
				</div>
				<div class="col-md-12 m">
					<div data-component="textbox" data-component-path="signup.email" data-required="true" data-component-type="email" data-component-value="'@'">Email</div>
				</div>
				<div class="col-md-12 m">
					<div data-component="textbox" data-component-path="signup.password" data-required="true" data-component-type="password" data-component-value="''">Password</div>
				</div>
				<div class="col-md-12 m">
					<div data-component="checkbox" data-component-path="signup.isterms">I agree with terms and conditions</div>
				</div>
			</div>
			<div data-component="error" data-component-path="signup.response"></div>
			<div data-component="click" data-component-path="signup_submit">
				<div data-component="validation" data-component-path="signup" data-if="value.isterms === true">
					<button class="button">Sign up</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-4">
		<div class="padding" id="signin">
			<h2>Sign in</h2>
			<div class="row">
				<div class="col-md-12 m">
					<div data-component="textbox" data-component-path="signin.email" data-required="true" data-component-type="email" data-component-value="'@'">Email</div>
				</div>
				<div class="col-md-12">
					<div data-component="textbox" data-component-path="signin.password" data-required="true" data-component-type="password" data-component-value="''">Password</div>
				</div>
			</div>
			<br />
			<div data-component="error" data-component-path="signin.response"></div>
			<div data-component="click" data-component-path="signin_submit" data-enter="#signin">
				<div data-component="validation" data-component-path="signin">
					<button class="button">Sign in</button>
				</div>
			</div>
		</div>
		<br />
	</div>
</div>

@{section script}
<script>
	// Create account
	function signup_submit() {
		// A prevention for multiple calls
		if (BLOCKED('signup', 2000))
			return;

		// Is the form valid?
		if (!$.components.valid('signup.*'))
			return;

		// Resets all states of components
		RESET('signup.*', true);

		// Performs submit
		AJAX('POST /api/account/', signup, function(response) {

			if (response.success) {
				window.location.href = '/account/';
				return;
			}

			SET('signup.response', response);
		});
	}

	// Login
	function signin_submit() {
		// A prevention for multiple calls
		if (BLOCKED('signin', 2000))
			return;

		// Resets all states of components
		RESET('signin.*', true);

		// Is the form valid?
		if (!$.components.valid('signin.*'))
			return;

		// Performs submit
		AJAX('POST /api/login/', signin, function(response) {

			if (response.success) {
				window.location.href = '/account/';
				return;
			}

			SET('signin.response', response);
		});
	}
</script>
@{end}