@{title('Full website example')}

<h1 class="center">@{title}</h1>
<br />
<div class="row">
	<div class="col-md-3 m">
		<span class="fa fa-3x blue fa-database"></span>
		<h2>Database</h2>
		<p>This example contains connector into the MongoDB database.</p>
	</div>
	<div class="col-md-3 m">
		<span class="fa fa-3x blue fa-paint-brush"></span>
		<h2>Themes</h2>
		<p>Themes are a part of the example, you can create new themes easily.</p>
	</div>
	<div class="col-md-3 m">
		<span class="fa fa-3x blue fa-users"></span>
		<h2>Users</h2>
		<p>The example contains a simple user's authorization with the session.</p>
	</div>
	<div class="col-md-3 m">
		<span class="fa fa-3x blue fa-code"></span>
		<h2>jComponent</h2>
		<p>Try my jComponent for client-side (SPA) applications.</p>
	</div>
</div>
<br />