<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	@{import('meta', 'head', 'default.js', 'default.css', 'favicon.ico')}
</head>
<body>

	<div data-component="cookie" class="hidden">This site uses cookies for visitor statistics. By continuing to browse the site you are agreeing to our use of cookies.</div>
	<nav>
		<a href="/">Homepage</a>
		<a href="/account/">Account</a>
		<a href="/contact/">Contact</a>
		<a href="https://github.com/totaljs/example">Source-code</a>
	</nav>
	@{if user}
		<div class="user">You are logged as: <b>@{user.name}</b>.</div>
	@{fi}
	<br />
	<div class="container">
		@{body}
	</div>
	<footer>
		&copy; 2015 @{config.author}
	</footer>

	@{section('script')}

</body>
</html>